@define-color base00 #1d2021; @define-color base01 #3c3836; @define-color base02 #504945; @define-color base03 #665c54;
@define-color base04 #bdae93; @define-color base05 #d5c4a1; @define-color base06 #ebdbb2; @define-color base07 #fbf1c7;

@define-color base08 #fb4934; @define-color base09 #fe8019; @define-color base0A #fabd2f; @define-color base0B #b8bb26;
@define-color base0C #8ec07c; @define-color base0D #83a598; @define-color base0E #d3869b; @define-color base0F #d65d0e;

* {
    font-family: "DejaVu Sans";
    font-size: 12pt;
}

window#waybar,
tooltip {
    background: alpha(@base00, 1.0);
    color: @base05;
}

tooltip {
    border-color: @base0D;
}

#wireplumber,
#wireplumber.muted,
#battery,
#battery.charging,
#clock,
#backlight,
#tray {
    padding: 0 5px;
}

#tray image,
#tray menu image {
    -gtk-icon-style: symbolic;
}

.modules-left #workspaces button {
    border-bottom: 3px solid transparent;
    color: @base04;
}

.modules-left #workspaces button:hover {
    background: @base02;
    color: @base06;
}

.modules-left #workspaces button.visible {
    background: @base01;
    color: @base06;
}

.modules-left #workspaces button.focused,
.modules-left #workspaces button.active {
    background: @base03;
    color: @base07;
}

.modules-left #workspaces button.urgent {
    background: @base08;
    color: @base00;
}

#battery.warning {
    color: @base0A;
}

#battery.critical {
    color: @base08;
}
